{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Facebook Catalog plugin for Craft CMS 3.x
 *
 * Facebook Catalog Settings.twig
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2019 Studio Espresso
 * @link      https://studioespresso.co/en
 * @package   FacebookCatalog
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% set installed = craft.app.plugins.isPluginInstalled('commerce') %}

{% if installed %}
    <div class="field">
        <h2>{{ 'Feed url' }}</h2>
        {{ forms.textField({
            label: 'Enter a URL for your products feed',
            id: 'productsFeed',
            name: 'productsFeed',
            value: settings['productsFeed']}) }}
        {% if craft.app.sites.getAllSites()|length > 1 %}
            {% set availableSites = [] %}
            {% for id, site in craft.app.sites.getAllSites() %}
                {% set availableSites = availableSites|merge([{
                    'label': site.name,
                    'value': site.id
                }]) %}
            {% endfor %}
            {{ forms.selectField({
                label: "To which site should your products link?"|t('facebook-catalog'),
                id: "siteId",
                name: "siteId",
                required: true,
                options: availableSites,
                value: settings['siteId'] ? settings['siteId'],
                errors: settings.errors and settings.errors['siteId'] is defined ? settings.errors['siteId']
            }) }}
        {% endif %}
    </div>
    <div class="field">
        <div class="heading">
            <h2>{{ 'Map your product fields'|t('facebook-catalog') }}</h2>
            <div class="instructions">
                <p>{{ 'Note that each of these fields (for each product) are required for your Facebook Catalog to be valid.'|t('facebook-catalog') }}</p>
                <p>{{ "See Facebook's documentation page on allow values & required fields <a href='{link}'>here</a>."|t({link: 'https://developers.facebook.com/docs/marketing-api/dynamic-product-ads/product-catalog/#required-fields'})|raw }}</p>
            </div>
        </div>
    </div>

    {% set availableFields = {
        '' : '---',
        'title' : 'Title',
        'sku' : 'SKU',
        'id' : 'Entry ID',
        'price': 'Price',
    } %}

    {% for id, field in fields %}
        {% set value = field.handle %}
        {% set availableFields = availableFields|merge({
            (field.handle) : field.name,
        }) %}
    {% endfor %}

    {% set availableFieldsCustom = availableFields|merge({
        'custom': 'Custom value',
    }) %}

    {{ forms.selectField({
        label: "Product id"|t('facebook-catalog'),
        id: "id",
        name: "id",
        required: true,
        toggle: true,
        options: availableFields,
        value: settings['id'] ? settings['id'] : 'sku',
        errors: settings.errors and settings.errors['id'] is defined ? settings.errors['id']
    }) }}

    {{ forms.selectField({
        label: "Product title"|t('facebook-catalog'),
        id: "title",
        name: "title",
        required: true,
        options: availableFields,
        value: settings['title'] ? settings['title'] : 'title',
        errors: settings.errors and settings.errors['title'] is defined ? settings.errors['title']
    }) }}

    {{ forms.selectField({
        label: "Price"|t('facebook-catalog'),
        id: "price",
        name: "price",
        required: true,
        options: availableFields,
        value: settings['price'] ? settings['price'] : 'price',
        errors: settings.errors and settings.errors['price'] is defined ? settings.errors['price']
    }) }}

    <div class="js-catalog-field">
        <div class="field" id="settings-brand-field">
            <div class="heading">
                <label id="brand-label" class="required" for="settings-brand">{{ "Brand"|t }}</label>
            </div>
            <div class="input ltr">
                <div class="select">
                    <select id="brand" name="brand">
                        {% for value, label in availableFieldsCustom %}
                            <option value="{{ value }}" {% if settings['brand'] == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
        </div>
        <div id="brand-custom" class="narrow" {% if settings['brand'] != 'custom' %}style="display: none;"{% endif %}>
            <div class="field" id="brandCustom-field">
                <div class="heading">
                    <label id="brandCustom-label" {% if settings['brand'] == 'custom' %}class="required"{% endif %} for="brandCustom">{{ "Fixed brand value"|t }}</label>
                </div>
                <div class="input ltr">
                    <input class="text fullwidth" type="text" id="brandCustom" name="brandCustom" {% if settings['brand'] == 'custom' %}required{% endif %} {% if settings['brand'] == 'custom' %}value="{{ settings['brandCustom'] }}"{% endif %} autocomplete="off">
                </div>
            </div>
        </div>
    </div>
    {% js at endBody %}
        $('#settings-brand').change(function(){
            console.log(this.value);
            if(this.value == 'custom') {
                console.log("hier");
                $('#settings-brand-custom').show();
                $('#settings-brandCustom-label').addClass('required');
                $('#settings-brandCustom').prop('required', true);
            } else {
                $('#settings-brand-custom').hide();
            }
        });
    {% endjs %}

    {{ forms.selectField({
        label: "Product description"|t('facebook-catalog'),
        id: "description",
        name: "description",
        required: true,
        options: availableFields,
        value: settings['description'],
        errors: settings.errors and settings.errors['description'] is defined ? settings.errors['description']
    }) }}

    {{ forms.selectField({
        label: "Image field"|t('facebook-catalog'),
        id: "image_link",
        name: "image_link",
        required: true,
        options: availableFields,
        value: settings['image_link'],
        errors: settings.errors and settings.errors['image_link'] is defined ? settings.errors['image_link']
    }) }}


    {% if craft.commerce.paymentCurrencies.getAllPaymentCurrencies()|length > 1 %}
        {% set currencies = [] %}
        {% for currency in craft.commerce.paymentCurrencies.getAllPaymentCurrencies() %}
            {% set currencies = currencies|merge([{
                'label': currency.iso,
                'value': currency.iso
            }]) %}
        {% endfor %}
        {{ forms.selectField({
            label: "Image field"|t('facebook-catalog'),
            id: "currencyIso",
            name: "currencyIso",
            required: true,
            options: currencies,
            value: settings['currencyIso'],
            errors: settings.errors and settings.errors['currencyIso'] is defined ? settings.errors['currencyIso']
        }) }}
    {% endif %}
    <input type="hidden" name="googleProductCategory" value="custom">
    {{ forms.textField({
        label: "Google product category ID"|t('facebook-catalog'),
        instructions: "Possible values can be found <a href='{link}' target='_blank'>here</a>. You can use the ID of the full category name."|t({link: "https://support.google.com/merchants/answer/6324436?hl=en"}),
        id: "googleProductCategoryCustom",
        name: "googleProductCategoryCustom",
        required: false,
        class: 'narrow',
        value: settings['googleProductCategoryCustom'],
        errors: settings.errors and settings.errors['googleProductCategoryCustom'] is defined ? settings.errors['googleProductCategoryCustom']
    }) }}
{% else %}
    <h2>{{ 'Craft Commerce not installed'|t }}</h2>
{% endif %}

{% css %}
    .hidden {
        display: none;
    }
    .narrow {
        width: 50%;
    }
{% endcss %}

